:root {
  @mixin light-root {
    --mantine-color-body: #070707;
  }

  @mixin dark-root {
    --mantine-color-body: #070707;
  }
}

body {
  background-color: var(--mantine-color-body);
}

.unstyled-link {
  text-decoration: none;
  color: inherit;
  display: contents; /* Makes the link "invisible" to the layout */
}
