# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Node / dependencies
node_modules
npm-debug.log
*.log

# Build output
dist
build

# Env files
.env*
!.env.example

# Editor configs
.vscode
.idea

# OS files
.DS_Store
Thumbs.db